*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#seesaw-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: red;
}

#seesaw {
  width: 400px;
  height: 20px;
  background-color: black;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 1s;
  transition-duration: 2000ms;
}

#seesaw-container:hover {
  #preview-weight {
    display: flex;
  }

  #ruler {
    opacity: 1;
  }
}

.pivot {
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #0aff06;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

#preview-weight {
  width: 30px;
  height: 30px;
  position: absolute;
  display: none;
  top: -500%;
  pointer-events: none;
  user-select: none;
  z-index: 99;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 100%;
}

#preview-weight::before {
  content: '';
  position: absolute;
  top: 100%;
  right: 50%;
  border-right: 2px blueviolet dashed;
  width: 100%;
  height: 50px;
  pointer-events: none;
  user-select: none;
}

@keyframes falldown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.weight {
  position: absolute;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  animation: falldown 1s ease-in-out forwards;
}

#ruler {
  opacity: 0;
  gap: 19px;
  display: flex;
  align-items: end;
  width: 400px;
  margin-bottom: 15px;
  position: relative;
}

.rule-point {
  flex: 1;
  background-color: royalblue;
  height: 10px;
  position: relative;
}

/* center */
.rule-point.center {
  background-color: cadetblue;
  height: 25px;
}

.rule-point::after {
  content: attr(data-distance);
  color: blueviolet;
  position: absolute;
  top: -2rem;
  left: 0;
  transform: translate(-50%, -50%);
}

#ruler > .rule-point:first-child,
#ruler > .rule-point:last-child {
  height: 25px;
}
